<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<p>

  You can set the parameters associated to the vectorization
  (<font color=blue> <i>nblevels</i> </font>, <font color=blue> <i>freq</i> </font>).
  <br/>


</p>

<form action="${app.base_url + 'wait'}" method="get">
    <input type="hidden" name="key" value="${app.key}">
  <div class="action">
    <ul>
      <li> Choose polygonalization algorithm
        <select name="algorithm">
      %for _p in ['dominant points','digital level layer','Frechet','Visual Curvature']:
         <option value="${_p}">${_p}</option>
      %endfor
      </select>
        <br>
      </li>
      <li> Scale parameter (not used for digital level layer, and *10 for visual curvature) <br>
                <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="svale">scale:  <font color=blue><i>scale</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="scale" name="scale" value="10" />
                    </div>
                    <div id="scale_slider" name="scale_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#scale', '#nscale_slider', 1, 10, 2);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
 
      </li>
      <li> Level set parameters:
        <br>
                    <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="nblevels">number of levels:  <font color=blue><i>nblevels</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="nblevels" name="nblevels" value="10" />
                    </div>
                    <div id="nblevels_slider" name="nblevels_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#nblevels', '#nblevels_slider', 20, 255, 1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
       </li>
      
    

</ul>
    <input type="submit" value="run" />
  </div>
</form>


<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
