<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<p>

  You can set the parameters associated to the vectorization
  (<font color=blue> <i>nblevels</i> </font>, <font color=blue> <i>freq</i> </font>).
  <br/>


</p>

<form action="${app.base_url + 'wait'}" method="get">
    <input type="hidden" name="key" value="${app.key}">
  <div class="action">
    <ul>
      <li> Choose polygonalization algorithm
        <select name="algorithm">
      %for _p in ['dominant points','digital level layer','Frechet','Visual Curvature']:
         <option value="${_p}">${_p}</option>
      %endfor
      </select>
      </li>
      
      <li> Level set parameters:
	<ul>
         <ul>
           <li>
                    <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="nblevels">number of level sets <font color=blue><i>nblevels</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="nblevels" name="nblevels" value="10" />
                    </div>
                    <div id="nblevels_slider" name="nblevels_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#nblevels', '#nblevels_slider', 2, 255, 1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->


            </li>
            <li>
             <!-- code for slider -->
             <div style="float:left;padding-right:25px">
               <label for="freq">Frequence of retained points <font color=blue><i>freq</i></font>:</label>
               <input type="text" style="font-family:monospace;text-align:right"
                 size="3" id="freq" name="freq" value="5" />
             </div>
             <div id="freq_slider" name="freq_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
             <script type="text/javascript">
             // Turn DIV slider into a slider linked to scale
             $(document).ready(function() {
                   createLinkedSlider('#freq', '#freq_slider', 1, 50, 1);
             });
             </script>
             <div style="clear:both"> </div>
             <!-- end of code for slider -->


            </li>
        </ul>
        </ul>
       </li>
</ul>
    <input type="submit" value="run" />
  </div>
</form>


<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
